<form data-request="onSignin" class="ui form">
    <div class="field">
        <label for="userSigninLogin">E-Mail</label>
        <input
                name="login"
                type="text"
                class="form-control"
                id="userSigninLogin"
                placeholder="Geben Sie Ihre E-Mail ein"/>
    </div>

    <div class="field">
        <label for="userSigninPassword">Passwort</label>
        <input
                name="password"
                type="password"
                class="form-control"
                id="userSigninPassword"
                placeholder="Geben Sie Ihr Passwort ein"/>
    </div>

    <button type="submit" class="ui button">Anmelden</button>
</form>