<form data-request="onSignin" class="ui form">
    <div class="field">
        <label for="userSigninLogin">E-Mail</label>
        <div class="ui right labeled input">
            <input
                name="login"
                type="text"
                class="form-control"
                id="userSigninLogin"
                placeholder="Geben Sie Ihre E-Mail ein"/>
            <div class="ui label">
                @uni-jena.de
            </div>
        </div>
    </div>

    <div class="field">
        <label for="userSigninPassword">Passwort</label>
        <input
                name="password"
                type="password"
                class="form-control"
                id="userSigninPassword"
                placeholder="Geben Sie Ihr Passwort ein"/>
    </div>

    <button type="submit" class="ui secondary button">Anmelden</button> <a href="/kursuebersicht" style="float:right;" class="ui button">Zur Kursübersicht</a>
</form>