[viewBag]
==
<!-- Following Menu -->
{% set deadline = '10.12.2017' %}

<div class="ui large top fixed hidden menu">
    <div class="ui container">
        {% if staticMenu.menuItems %}
            {% for item in staticMenu.menuItems %}
                <a href="{{ item.url }}" class="item {% if item.isActive  %}active{% endif %}">{{ item.title }}</a>
            {% endfor %}
        {% endif %}


        <div class="right menu">
            <div class="item">
                <a class="ui button">Anmelden</a>
            </div>
            <div class="item">
                <a class="ui primary button">Registrieren</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    {% if staticMenu.menuItems %}
        {% for item in staticMenu.menuItems %}
            <a href="{{ item.url }}" class="item {% if item.isActive  %}active{% endif %}">{{ item.title }}</a>
        {% endfor %}
    {% endif %}
    <a class="item">Login</a>
    <a class="item">Signup</a>
</div>