[viewBag]
==
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        {% if staticMenu.menuItems %}
            {% for item in staticMenu.menuItems %}
                <a href="{{ item.url }}" class="item {% if item.isActive  %}active{% endif %}">{{ item.title }}</a>
            {% endfor %}
        {% endif %}
        <div class="right menu">
            <div class="item">
                <a href="/anmelden" class="ui button {% if this.page.id == 'anmelden'  %}active{% endif %}">Anmelden</a>
            </div>
            <div class="item">
                <a href="/registrieren {% if this.page.id == 'registrieren'  %}active{% endif %}" class="ui primary button">Registrieren</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    {% if staticMenu.menuItems %}
        {% for item in staticMenu.menuItems %}
            <a href="{{ item.url }}" class="item {% if item.isActive  %}active{% endif %}">{{ item.title }}</a>
        {% endfor %}
    {% endif %}
    <a href="/anmelden" class="item {% if this.page.id == 'anmelden'  %}active{% endif %}">Anmelden</a>
    <a href="/registrieren" class="item {% if this.page.id == 'registrieren'  %}active{% endif %}">Registrieren</a>
</div>