[viewBag]
==
function onStart()
{
    $this['deadline'] = BWolfJena\Core\Models\Module::find(1)['enrollment_end'];
    $this['assignedCourse'] = BWolfJena\Core\Models\Course::find(1)['course_user'];
}
==

<!-- Following Menu -->
{% set assignedCourse = 'Testkurs' %}

<div class="ui large top fixed hidden menu">
    <div class="ui container">
        {% if staticMenu.menuItems %}
            {% for item in staticMenu.menuItems %}
                <a href="{{ item.url }}" class="item {% if item.isActive  %}active{% endif %}">{{ item.title }}</a>
            {% endfor %}
        {% endif %}

        {% if date() < deadline %}
          <p class="info">Einschreibungsende: {{ deadline }}</p>
        {% else %}
          {% if assignedCourse %}
            <p class="info">Ihr Kurs: {{ assignedCourse }}</p>
          {% endif %}
        {% endif %}

        <div class="right menu">
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    {% if staticMenu.menuItems %}
        {% for item in staticMenu.menuItems %}
            <a href="{{ item.url }}" class="item {% if item.isActive  %}active{% endif %}">{{ item.title }}</a>
        {% endfor %}
    {% endif %}
    <a class="item">Login</a>
    <a class="item">Signup</a>
</div>
