description = "Default Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "top-menu"

[session]
security = "all"

==
function onStart()
{
    $this['deadline'] = BWolfJena\Core\Models\Module::find(1)['enrollment_end'];
}
==
<!DOCTYPE html>
<html>
    <head>
        <!-- METADATA -->
        <meta charset="utf-8"/>
        <title>Website - {{ this.page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="description" content="{{ this.page.description }}">
        <meta name="author" content="BWolf">
        <meta name="keywords" content="universität, jena, psyschologie, empiriepraktikum, einschreibung">
        <meta name="type" content="">
        <meta name="copyright" content="">
        <meta name="resource-type" content="">
        <meta name="distribution" content="">
        <meta name="email" content="">
        <meta name="rating" content="General">
        <meta name="robots" content="INDEX,FOLLOW">
        <meta name="revisit" content="7 Days">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="apple-touch-icon" sizes="180x180" href="/themes/bwolf/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/themes/bwolf/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/themes/bwolf/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/themes/bwolf/assets/favicon/manifest.json">
        <link rel="mask-icon" href="/themes/bwolf/assets/favicon/safari-pinned-tab.svg" color="#052e5d">
        <link rel="shortcut icon" href="/themes/bwolf/assets/favicon/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="BWolf">
        <meta name="application-name" content="BWolf">
        <meta name="msapplication-config" content="/themes/bwolf/assets/favicon/browserconfig.xml">
        <meta name="theme-color" content="#052e5d">

		<!-- CSS -->
        <link href="{{ [
            'assets/semantic/dist/semantic.css',
            'assets/css/system.css',
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">

        {% styles %}

    </head>
	<body>
	    <!-- HEADER -->
        {% partial 'site/header' %}


        <!-- FLEX & PUSHER -->
        <div class="pusher">
            <!-- Static Menu -->
            <div class="ui inverted vertical center aligned segment top-menu">
                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>                        
                        <img  src="{{ 'assets/images/logo.png' | theme }}" alt="Bwolf"/>                        
                        {% if staticMenu.menuItems %}
                            {% for item in staticMenu.menuItems %}
                                <a href="{{ item.url }}" class="item {% if item.isActive  %}active{% endif %}">{{ item.title }}</a>
                            {% endfor %}
                            <p class="item" style="color: red;">Einschreibungsende: {{ deadline|date("d.m.Y") }}</p>
                        {% endif %}
                        <div class="right item large screen only right-nav">
                            {% if user %}
                                <a class="ui inverted button" data-request="onLogout">Abmelden</a>
                            {% else %}
                                <a href="/anmelden" class="ui inverted button {% if this.page.id == 'anmelden'  %}active{% endif %}" dusk="login-button">Anmelden</a>
                                <a href="/registrieren" class="ui inverted button {% if this.page.id == 'registrieren'  %}active{% endif %}">Registrieren</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page Contents -->
            <div class="ui very padded container">
              <p>{{ modul }}
                    {% page %}
            </div>


            <!-- FOOTER -->
            <footer id="layout-footer">
                {% partial 'site/footer' %}
            </footer>
        </div>




        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <!-- SCRIPTS -->
        <script src="{{ [
            'assets/semantic/dist/semantic.js',
            'assets/js/system.js',
            'assets/js/app.js',
            'assets/js/sortable.js'
        ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}



    </body>
</html>
