description = "Default Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "top-menu"

[session]
security = "all"
==
<!DOCTYPE html>
<html>
    <head>
        <!-- METADATA -->
        <meta charset="utf-8"/>
        <title>Website - {{ this.page.title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="description" content="{{ this.page.description }}">
        <meta name="author" content="BWolf">
        <meta name="keywords" content="universität, jena, psyschologie, empiriepraktikum, einschreibung">
        <meta name="type" content="">
        <meta name="copyright" content="">
        <meta name="resource-type" content="">
        <meta name="distribution" content="">
        <meta name="email" content="">
        <meta name="rating" content="General">
        <meta name="robots" content="INDEX,FOLLOW">
        <meta name="revisit" content="7 Days">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/x-icon" href="{{ 'assets/images/favicon.ico'|theme }}"/>                
		<!-- CSS -->
        <link href="{{ [
            'assets/semantic/dist/semantic.css',
            'assets/css/system.css',
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
        
        <link href="//rubaxa.github.io/Ply/ply.css" rel="stylesheet" type="text/css"/>
	    <link href="//fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css"/>
	    <link href="st/app.css" rel="stylesheet" type="text/css"/>
	    
        {% styles %}

    </head>
	<body>
	    <!-- HEADER -->
        {% partial 'site/header' %}


        <!-- FLEX & PUSHER -->
        <div class="pusher">
            <!-- Static Menu -->
            <div class="ui inverted vertical center aligned segment top-menu">
                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        {% if staticMenu.menuItems %}
                            {% for item in staticMenu.menuItems %}
                                <a href="{{ item.url }}" class="item {% if item.isActive  %}active{% endif %}">{{ item.title }}</a>
                            {% endfor %}
                            <p class="item" style="color: red;">Einschreibungsende: {{ "now"|date("d.m.Y") }}</p>
                        {% endif %}                        
                        <div class="right item large screen only">
                            {% if user %}
                                <a class="ui inverted button" data-request="onLogout">Abmelden</a>
                            {% else %}
                                <a href="/anmelden" class="ui inverted button {% if this.page.id == 'anmelden'  %}active{% endif %}">Anmelden</a>
                                <a href="/registrieren" class="ui inverted button {% if this.page.id == 'registrieren'  %}active{% endif %}">Registrieren</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page Contents -->
            <div class="ui very padded container">
                    {% page %}
            </div>


            <!-- FOOTER -->
            <footer id="layout-footer">
                {% partial 'site/footer' %}
            </footer>
        </div>




        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <!-- SCRIPTS -->
        <script src="{{ [            
            'assets/semantic/dist/semantic.js',
            'assets/js/system.js',
            'assets/js/app.js',
            'assets/js/sortable.js'
        ]|theme }}"></script>
        {% put scripts %}
	{% endput %}

        {% framework extras %}
        {% scripts %}



    </body>
</html>